@page
@model Handler.Pages.Status.IndexModel
@{
    ViewData["Title"] = "Status";
}

<h2>Modeler Status</h2>

<table class="center">
    <tr>
        <th>Job</th>
        <th>Status</th>
        <th>Time Recieved</th>
        <th>Time Started</th>
        <th>Time Completed</th>
    </tr>
    @foreach (var status in Model.statusData)
    {
        <tr>
            <td>@status.Job</td>
            <td>@status.JobStatus</td>
            <td>@status.TimeReceived</td>
            <td>@status.TimeStarted</td>
            <td>@status.TimeCompleted</td>
        </tr>
    }
</table>
