@page
@model IndexModel
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Handler Web App";
}

@if ((string)@ViewData["PageName"] == "Start")
{
    <meta http-equiv="refresh" content="5">
}
  
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/datatables.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}

@section menu {
    <div class="btn-group" role="group">
        <form method="post">
            <input class="@(  @ViewData["bsHome"] )" type="submit" value="Home" asp-page-handler="HomeButton" />
            <input class="@(  @ViewData["bsStart"] )" 
                   disabled="@ViewData["bsStartDisabled"]"
                   type="submit" value="Start" asp-page-handler="StartButton" />
            <input class="@(  @ViewData["bsRefresh"] )" 
                   disabled="@(  @ViewData["bsRefreshDisabled"] )" 
                   type="submit" value="Refresh" asp-page-handler="RefreshButton" />
            <input class="@(  @ViewData["bsPause"] )" 
                   disabled="@(  @ViewData["bsPauseDisabled"] )" 
                   type="submit" value="Pause" asp-page-handler="PauseButton" />
            <input class="@(  @ViewData["bsStop"] )" 
                   disabled="@(  @ViewData["bsStopDisabled"] )" 
                   type="submit" value="Stop" asp-page-handler="StopButton" />
            <input class="@(  @ViewData["bsHistory"] )" type="submit" value="History" asp-page-handler="HistoryButton" />
        </form>
    </div>
}

@if ((string)@ViewData["PageName"] != "Home")
{
    <div class="center">
        @await Html.PartialAsync("_JobGrid.cshtml", Model)
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#jobGrid').dataTable({
            fixedHeader: true
        });
    });
</script>