@page
@model IndexModel
@{
    ViewData["Title"] = "Handler Web App";
}

<meta http-equiv="refresh" content="5">

<div class="text-center">
    <form method="post">
        <div>Handler Menu</div>
        <input type="submit" value="Start" asp-page-handler="StartButton" />
        <input type="submit" value="Stop" asp-page-handler="StopButton" />
        <input type="submit" value="History" asp-page-handler="HistoryButton" />
    </form>
</div>

<hr>

<table class="center">
    <table id="status_table_id">
        <thead>
            <tr>
                <th>Job</th>
                <th>Status</th>
                <th>Time Received</th>
                <th>Time Started</th>
                <th>Time Completed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var status in Model.statusData)
            {
                <tr>
                    <td>@status.Job</td>
                    <td>@status.JobStatus</td>

                    @if (@status.TimeReceived.Year > 1)
                    {
                        <td>@status.TimeReceived</td>
                    }
                    else
                    {
                        <td> </td>
                    }

                    @if (@status.TimeStarted.Year > 1)
                    {
                        <td>@status.TimeStarted</td>
                    }
                    else
                    {
                        <td> </td>
                    }

                    @if (@status.TimeCompleted.Year > 1)
                    {
                        <td>@status.TimeCompleted</td>
                    }
                    else
                    {
                        <td> </td>
                    }
                </tr>
            }
        </tbody>
    </table>
