@page
@model Handler.Pages.Config.SetupModel
@{
    ViewData["Title"] = "Config Page";
}

<h2>Handler Configuration</h2>

<ul>
    @foreach (var config in Model.monitorData)
    {
        <li>Job = @config.Job</li>
        <li>Job Name = @config.JobName</li>
        <li>Time Stamp = @config.TimeStamp</li>
        <li>Job Directory = @config.JobDirectory</li>
        <li>Ini File Name = @config.IniFileName</li>
        <li>Xml File Name = @config.XmlFileName</li>
        <li>Upload Directory = @config.UploadDir</li>
        <li>Processing Directory = @config.ProcessingDir</li>
        <li>Repository Directory = @config.RepositoryDir</li>
        <li>Finished Directory = @config.FinishedDir</li>
        <li>Error Directory = @config.ErrorDir</li>
        <li>Modeler Root Directory = @config.ModelerRootDir</li>
        <li>CPU Cores = @config.CPUCores</li>
        <li>Modeler = @config.Modeler</li>
        <li>Max Time Limit = @config.MaxTimeLimit</li>
        <li>Start Port = @config.StartPort</li>
        <li>Log File = @config.LogFile</li>
        <li>Unit Number = @config.UnitNumber</li>
        <li>Modeler = @config.Modeler</li>
        <li>Num Files Consumed = @config.NumFilesConsumed</li>
        <li>Num Files Produced = @config.NumFilesProduced</li>
        <li>Num Files To Transfer = @config.NumFilesToTransfer</li>
        @if (@config.transferedFileList != null)
        {
            @foreach (var file in @config.transferedFileList)
            {
                <li>Transfer file = @file</li>        
            }
        }
    }
</ul>
